/.vs/Palavras/DesignTimeBuild/.dtbcache.v2
/.vs/Palavras/FileContentIndex/f9e4ec1c-1b53-4540-a752-290414be9a11.vsidx
/.vs/Palavras/v17/.futdcache.v2
/.vs/Palavras/v17/.suo
/.vs/Palavras/v17/DocumentLayout.backup.json
/.vs/Palavras/v17/DocumentLayout.json
/.vs/ProjectEvaluation/palavras.metadata.v9.bin
/.vs/ProjectEvaluation/palavras.projects.v9.bin
/.vs/ProjectEvaluation/palavras.strings.v9.bin
/Palavras/bin/Debug/net8.0/Palavras.deps.json
/Palavras/bin/Debug/net8.0/Palavras.dll
/Palavras/bin/Debug/net8.0/Palavras.exe
/Palavras/bin/Debug/net8.0/Palavras.pdb
/Palavras/bin/Debug/net8.0/Palavras.runtimeconfig.json
/Palavras/bin/Debug/net8.0/palavras.txt
/Palavras/bin/Release/net8.0/Palavras.deps.json
/Palavras/bin/Release/net8.0/Palavras.dll
/Palavras/bin/Release/net8.0/Palavras.exe
/Palavras/bin/Release/net8.0/Palavras.pdb
/Palavras/bin/Release/net8.0/Palavras.runtimeconfig.json
/Palavras/bin/Release/net8.0/palavras.txt
/Palavras/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Palavras/obj/Debug/net8.0/Palavras.AssemblyInfo.cs
/Palavras/obj/Debug/net8.0/Palavras.AssemblyInfoInputs.cache
/Palavras/obj/Debug/net8.0/Palavras.GeneratedMSBuildEditorConfig.editorconfig
/Palavras/obj/Debug/net8.0/Palavras.GlobalUsings.g.cs
/Palavras/obj/Debug/net8.0/Palavras.assets.cache
/Palavras/obj/Debug/net8.0/Palavras.csproj.CoreCompileInputs.cache
/Palavras/obj/Debug/net8.0/Palavras.csproj.FileListAbsolute.txt
/Palavras/obj/Debug/net8.0/Palavras.dll
/Palavras/obj/Debug/net8.0/Palavras.genruntimeconfig.cache
/Palavras/obj/Debug/net8.0/Palavras.pdb
/Palavras/obj/Debug/net8.0/Palavras.sourcelink.json
/Palavras/obj/Debug/net8.0/apphost.exe
/Palavras/obj/Debug/net8.0/ref/Palavras.dll
/Palavras/obj/Debug/net8.0/refint/Palavras.dll
/Palavras/obj/Palavras.csproj.nuget.dgspec.json
/Palavras/obj/Palavras.csproj.nuget.g.props
/Palavras/obj/Palavras.csproj.nuget.g.targets
/Palavras/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Palavras/obj/Release/net8.0/Palavras.AssemblyInfo.cs
/Palavras/obj/Release/net8.0/Palavras.AssemblyInfoInputs.cache
/Palavras/obj/Release/net8.0/Palavras.GeneratedMSBuildEditorConfig.editorconfig
/Palavras/obj/Release/net8.0/Palavras.GlobalUsings.g.cs
/Palavras/obj/Release/net8.0/Palavras.assets.cache
/Palavras/obj/Release/net8.0/Palavras.csproj.CoreCompileInputs.cache
/Palavras/obj/Release/net8.0/Palavras.csproj.FileListAbsolute.txt
/Palavras/obj/Release/net8.0/Palavras.dll
/Palavras/obj/Release/net8.0/Palavras.genruntimeconfig.cache
/Palavras/obj/Release/net8.0/Palavras.pdb
/Palavras/obj/Release/net8.0/Palavras.sourcelink.json
/Palavras/obj/Release/net8.0/apphost.exe
/Palavras/obj/Release/net8.0/ref/Palavras.dll
/Palavras/obj/Release/net8.0/refint/Palavras.dll
/Palavras/obj/project.assets.json
/Palavras/obj/project.nuget.cache
